page-febre {

}
.img-titulo{
  margin-top: 22px;
}

.btn-modulos{
  height: 150px;
  text-align: center;
}
.titulo-inicio{
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}


.avaliacoes{
  border:  2px solid #0A76BC;
  border-radius: 4px;
  margin-top: 10px;
}

.avaliacoes-titulo-febre{
  color: #0A76BC;
  font-size: 20px;
  top: 7px;
  font-weight: bold;
}
