page-niveldefebre {

}

.btn-modulos{
  height: 150px;
  text-align: center;
}


.alta{
  border-radius: 4px;
  background-color: red;
  text-align: center;
  color: #fff;
  border-bottom: 20px;
}

.avaliacoes-titulo-febre{
  color: #fff;
  margin-top: -10px;
  font-weight: bold;
  font-size: 18px;
}

.azul{
  background-color: #297baa;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
