page-desenvolvedores {

}


.ator{
  font-size: 14px;
  margin-top: -14px;
}

.icone-des{
  margin-top: 27px;
}

.icone-orien{
  margin-top: 37px;
}

.referencias{
  font-size: 12px;
  text-align: justify;
}
